{% extends 'bootstrap/base.html' %}

{% include "header.html" %}
{% block content %}
<div class="container mt-5">
  <h4 class="text-center mb-3">A continuación se presenta la base de datos de las personas que han ingresado</h4>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        {% if message=="No se seleccionó ningún archivo" %}
        <div class="col-md-3 p-2 ml-2 alert alert-danger alert-dismissible fade show" role="alert">
        {% else %}
        <div class="col-md-3 p-2 ml-2 alert alert-success alert-dismissible fade show" role="alert">
        {% endif %}
          <p>{{ message }}</p> 
          <button type="button" class="close p-0 pl-5 mr-2" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> 
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="row">
      <div class="col-7">
        <!-- <strong> Search for: {{tag}} </strong> -->
      </div>
      <div class="col-5">
        <form action="" method="POST" autocomplete="off">
          <div class="row">
            <div class="col-md-8 mt-1">
              <input type="text" class="form-control" name="tag" id="tag" placeholder="Keyword for name">
            </div>
            <div class="col-md-4 mt-1" align="left">
              <input type="submit" value="Search" class="form-control btn btn-primary" name="">
            </div>
          </div>
        </form>
      </div>
    </div>

    <form class="text-center" action="/uploader" method="POST" enctype="multipart/form-data">
      <div class="col-auto mt-4 p-0">
        <label for="formFileSm" class="form-label">Cargar datos desde archivo de Excel .xlsx</label>
      </div>
      <div class="col-12 d-flex justify-content-center flex-wrap">
      <div class="">
        <input class="btn btn-secondary form-control-sm" id="formFileSm" type="file" name="archivo"><br>
      </div>
      <div class="pl-1 mb-0 mt-1">
        <input class="btn btn-secondary align-items-center" type="submit" value="Cargar a base de datos">
      </div>
      </div>
    </form>
    <div class="text-center mb-5 mt-4">
      <a href="{{url_for('add_person')}}" class="btn btn-primary">Agregar una Persona</a>
    </div>

    <div class='container table-responsive mt-3' >
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Nacionalidad</th>
            <th scope="col">Fecha de contrato</th>
            <th scope="col">Sexo</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
        {% for person in people.items  %}
          <tr>
            <td>{{person.nombre.title()}}</td>
            <td>{{person.apellido.title()}}</td>
            <td>{{person.nacionalidad.capitalize()}}</td>
            <td>{{person.fecha_contrato}}</td>
            <td>{{person.sexo.capitalize()}}</td>
            <td><a href="{{url_for('edit_person', id=person.id)}}" class="button">Edit</a></td>
            <td><a href="{{url_for('delete_person', id=person.id)}}" class="button">Delete</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Pagination Links-->
    <div class="text-right">
        <a href="{{ url_for('home', page=people.prev_num) }}"
          class="btn btn-outline-dark 
          {% if people.page == 1 %}disabled{% endif %}">
            &laquo;
        </a>
        <!-- Loop through the number of pages to display a link for each-->
        {% for page_num in people.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if page_num %}
          <!-- Check for the active page and set the link to "Active"-->
            {% if people.page == page_num %}
            <a href="{{ url_for('home', page=page_num) }}"
              class="btn btn-dark">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for('home', page=page_num) }}"
              class="btn btn-outline-dark">
                {{ page_num }}
            </a>
            {% endif %}
          {% else %}
            ...
          {% endif %}
        {% endfor %}
        <a href="{{ url_for('home', page=people.next_num) }}"
          class="btn btn-outline-dark 
          {% if people.page == people.pages %}disabled{% endif %}">
            &raquo;
        </a>
    </div>
    <p class="text-right mt-3">
      Showing page {{ people.page }} of {{ people.pages }}
    </p>

    {% if false %}
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if people.has_prev %}
          <li class="page-item"><a class="page-link" href="{{url_for("home", page=people.prev_num)}}">Previous</a></li>
        {% else %}
          <li class="page-item"><a class="page-link btn disabled" href="#">Previous</a></li>
        {% endif %}

        {% for page in people.iter_pages(left_edge=3, right_edge=3) %}
          {% if page %}
            {% if page==people.page %}
              <li class="page-item active"><a class="page-link" href="{{url_for("home", page=page)}}">{{page}}</a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="{{url_for("home", page=page)}}">{{page}}</a></li>
            {% endif %}
          {% else %}
            <li class="page-item disabled" id="example_ellipsis"><a class="page-link" href="#">...</a></li>
          {% endif %}
        {% endfor %}

        {% if people.has_next %}
          <li class="page-item"><a class="page-link" href="{{url_for("home", page=people.next_num)}}">Next</a></li>
        {% else %}
          <li class="page-item"><a class="page-link btn disabled" href="#">Next</a></li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}

</div>

{% endblock %}