{% extends 'bootstrap/base.html' %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Base de datos de Ingreso de personas{% endblock %}

{% block content %}

<div class="container">
    <div class='container table-responsive mt-3' >
    <h2>La información a ser cargada es la siguiente: </h2>
        <p>Deseas continuar con la carga de los datos a la base de datos?</p>
        <div class="text-center mb-5 mt-4">
            <a href="{{url_for('cargar_datos')}}" class="btn btn-primary">Continuar</a>
        </div>

        <div class="text-center mb-5 mt-4">
            <a href="{{url_for('home')}}" class="btn btn-primary">Cancelar</a>
        </div>        
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Nacionalidad</th>
                <th scope="col">Fecha de contrato</th>
                <th scope="col">Sexo</th>
            </tr>
            </thead>
            <tbody>
            {% for person in new_data %}
            <tr>
                <td>{{person[0].title()}}</td>
                <td>{{person[1].title()}}</td>
                <td>{{person[2].capitalize()}}</td>
                <td>{{person[3]}}</td>
                <td>{{person[4].capitalize()}}</td>
            </tr>
            {% endfor %}
            </tbody>
            
        </table>
    </div>
</div>
{% endblock %}